* {
    margin: 0px;
    padding: 0px;
}
.container {
    max-width: 920px;
    margin: 0px auto;
}
img.blimg {
   width: 23%;
   border:solid 1px #ccc;padding:4px;
}
img.blimg:hover {
   opacity: 0.5;
}
p.px {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 20px;
      color:#452302;
      }
