* {
    margin: 0px;
    padding: 0px;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 920px;
    margin: 0px auto;
}

p.px {
      font-family: "ヒラギノ角ゴシック体 W3";
      font-size: 14px;
      }

.pad {

    }

div.color{
    top: 0;
    bottom: 0;
    width: 100%;
    background: #FFFAF0;
        }
p.px2 {
    font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
    font-size: 14px;
    color:#452302;
    margin-left: 40px;
      }
p.px3 {
    font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    color:#452302;
      }

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
.br-pc { display:block; }
.br-sp { display:none; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 800px) {
.pc { display: none !important; }
.sp { display: block !important; }
.br-pc { display:none; }
.br-sp { display:block; }
p.px3 {
    font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color:#452302;
      }
p.px2 {
    font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
    font-size: 9px;
    color:#452302;
    margin-left: 15px;
      }
}
