* {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 960px;
    margin: 0px auto;
}

.box {
    float: left;
    width: 49%;
    min-width: 400px;
    height: auto;
}

.pad {
    margin: 10px;
}
.clear {
    clear: both;
}

img {
    max-width: 100%;
}

p.px {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 12px;
      color:#452302;
      }
      div.flex{
            max-width: 960px;
            margin: 0 auto;
            }
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 800px) {
.pc { display: none !important; }
.sp { display: block !important; }
p.px {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 12px;
      color:#452302;
      }
      .box {
          float: left;
          width: 49%;
          min-width: 100%;
          height: auto;
      }
}
@media screen and (min-width:800px) {
  div.flex{
          display:flex;
          flex-wrap:nowrap;
          justify-content:space-between;
          }
  div.item+.item{
          margin-left:1.0em;
                }
                  }
}
