* {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 920px;
    margin: 0px auto;
}

.box {
    float: left;
    width: 49%;
    min-width: 400px;
    height: auto;
}

.pad {
    margin: 10px;
}

.clear {
    clear: both;
}
p.px {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 14px;
      padding:0 0 0 2em;
      margin:0;
      }

ol.list_parentheses{
      padding:0 0 0 2em;
      margin:0;
      font-size: 14px;
      }

ol.list_parentheses li{
      list-style-type:none;
      list-style-position:inside;
      counter-increment: cnt;
      }

ol.list_parentheses li:before{
      display: marker;
      content: "(" counter(cnt) ") ";
      }

.pad .target{
      display:table-cell;
      vertical-align:middle;
      }

div.list {
  border:solid 3px #ccc;padding:4px;
  width: 800px;
  height: 350px;
  overflow-y: scroll;
  margin: 10px auto;
    }

div.line{
    line-height: 30px;
}

div.title{
  text-align: center;
    line-height: 40px;
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される*/
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される*/
@media only screen and (max-width: 700px) {
.pc { display: none !important; }
.sp { display: block !important;}

div.list {
  border:solid 3px #ccc;padding:4px;
  width: 280px;
  height: 800px;
  overflow-y: scroll;
      margin: 10px auto;
    }
}
