* {
    margin: 0px;
    padding: 0px;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 920px;
    margin: 0px auto;
}

p.px {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 14px;
      color:#452302;
     margin-left: 60px;
      }

p.px2 {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 24px;
      color:#452302;
      margin-left: 60px;
      text-align: center;
      }

.pad {
    margin: 10px;
    }

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 800px) {
.pc { display: none !important; }
.sp { display: block !important; }
p.px {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 10px;
      color:#452302;
     margin-left: 10px;
      }
p.px2 {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 13px;
      color:#452302;
      margin-left: 10px;
      text-align: center;
      }
}
