* {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 920px;
    margin: 0px auto;
}

.box {
    float: left;
    width: 49%;
    min-width: 400px;
    height: auto;
}

.pad {
    margin: 10px;
}

.clear {
    clear: both;
}
p.px {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 12px;
      color:#452302;
      }

p.px2 {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 12px;
      color:#452302;
      margin-left: 25px;
      }
/* パソコンで見たときは"pc"のclassがついた画像が表示される*/
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される*/
@media only screen and (max-width: 700px) {
.pc { display: none !important; }
.sp { display: block !important;}
.box {
    float: left;
    width: 50%;
    min-width: 100%;
    height: auto;
}
p.px {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 12px;
      color:#452302;
      }
p.px2 {
      font-family: 'Futura Medium','ヒラギノ角ゴシック体 W3','メイリオ';
      font-size: 12px;
      color:#452302;
      margin-left: 10px;
      }
}
