/* --------------------------------------------- */
/* ▼モバイルファースト (全環境に共通のデザイン) */
/* --------------------------------------------- */
* {
    margin: 0px;
    padding: 0px ;
}

.container {
    max-width: 920px;
    margin: 0 auto;
    padding: 0;
}

/* EC-Cubeのクラス */
.container-fluid {
    margin: 0;
    padding: 0;
}

.key-visual {
    text-align: center;
}

.key-visual img {
    width: 100%;
    height: auto;
}

.copy {
    text-align: center;
}

.copy img {
    max-width: 100%;
    height: auto; 
    width: 80%;
    margin: 40px auto;
}

.category-title-pic {
    text-align: center;
}

.category-title-pic img {
    max-width: 100%;
    height: auto;
}

.category-title-copy-pic {
    text-align: center;
}

.category-title-copy-pic img {
    max-width: 100%;
    height: auto;
    width: 90%;
    margin: 20px;
}

.category-title-copy p {
    margin: 0 10px 20px 10px;

    color: #462303;
    font-size: 14px;
    line-height: 1.5;
}

.pc,.btn-pc {
    display: none;
}

.btn-sp {
    text-align: center;
    margin: 20px 0 60px 0;
}

.category-menu1 {
    border-top: solid #d3d3d3 1px;
}

.category-menu2 {
    border-top: solid #d3d3d3 1px;
    border-bottom: solid #d3d3d3 1px;
}

.category-menu3 {
    border-bottom: solid #d3d3d3 1px;
}

.category-menu-item {
    display: flex;
}

.category-menu-item-pic {
    margin: 10px 0;
    width: 80%;
    text-align: center;
}

.category-menu-item-pic > a > img {
    max-width: 100%;
    width: 80%;
    height: auto; 

    border: solid #d3d3d3 1px;
}

.category-menu-item-col {
    color: #462303;
    font-size: 14px;
    font-weight: bold;

    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 90%;
}

.category-menu-item-col-btn {
    margin-top: 15px;
}
.category-menu-item-col-btn img {
    width: 100%;
}

span {
    color: #f04e5a;
    font-size: 16px;
    font-weight: bold;
}

span.tax {
    font-size: 11px;
}

a:hover > img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
}

.container .btn-all > a > img {
    width: 80%;
}

.container .btn-all {
    text-align: center;
}
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media screen and (min-width: 600px) {

    .btn-sp > a > img {
        width: 50%;
        margin-bottom: 70px;
    }
    
    .category-title-copy p {
        font-size: 18px;
        line-height: 2;
        margin: 0 20px 10px 30px;
    }

    .category-menu-item-col p {
        font-size: 18px;
        line-height: 2;
    }

    span {
        font-size: 18px;
    }
    
    span.tax {
        font-size: 13px;
    }
    
}
/* -------------------------------------------- */
/* ▼PC用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media screen and (min-width: 767px) {

    /* EC-Cubeのクラス */
    .container-fluid {
        margin: 0 auto;
    }

    .sp,.btn-sp {
        display: none;
    }

    .pc,.btn-pc {
        display: inline-block;
    }

    .copy img {
        margin: 60px auto;
        width: 60%;
        text-align: center;
    }

    .category {
        margin-bottom: 100px;
    }

    .category-title {
        display: flex;
        margin-bottom: 35px;
    }

    .category-title-copy,.btn-pc {
        width: 100%;
    }

    .category-title-copy-pic img {
        margin: 0;
        width: 100%;
    }

    .category-title-copy p {
        font-size: 16px;
        line-height: 2;
        margin: 15px 0;
    }

    .category-title-copy {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .category-title-pic {
        width: 100%;
        height: auto;
        margin-right: 20px;
    }
    
    .category-title-pic img {
        width: 100%;
    }
    
    .category-menu  {
        display: flex;
    }

    .category-menu1,.category-menu2,.category-menu3 {
        border-style: none;
    }

    .category-menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
        justify-content: space-between;
    }

    .category-menu-item-pic {
        width: 100%;
    }

    .category-menu-item-col p {
        font-size: 16px;
    }
}
