* {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 960px;
    margin: 0px auto;
}

.box {
    float: left;
    width: 49%;
    min-width: 400px;
    height: auto;
}
.cp_tab *, .cp_tab *:before, .cp_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_tab {
	margin: 1em auto;
}
.cp_tab > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.cp_tab .cp_tabpanels {
	position: relative;
	min-height: 700px;/* エリアの高さ */
}
.cp_tab .cp_tabpanel {
	position: absolute;
	width: 100%;
	opacity: 0;
	padding: 0.5em 1em;
	transform: translateY(-10px);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6)
.cp_tab > input:nth-child(13):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(7) {
	opacity: 1;
	transform: translateY(0px);
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child {
	background: #80CBC4;
}
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2) {
	background: #90CAF9;
}
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3) {
	background: #F48FB1;
}
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4) {
	background: #8BC34A;
}
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5) {
	background: #8BC34A;
}
.cp_tab > label {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 6px 6px 0 0;
	font-weight: bold;
}
.cp_tab > input:first-child + label {
	background: #80CBC4;
}
.cp_tab > input:nth-child(3) + label {
	background: #90CAF9;
}
.cp_tab > input:nth-child(5) + label {
	background: #F48FB1;
}
.cp_tab > input:nth-child(7) + label {
	background: #8BC34A;
}
.cp_tab > input:nth-child(9) + label {
	background: #8BC34A;
}
.cp_tab > label:hover {
	color: #0066cc;
}
.cp_tab > input:focus + label {
	color: #ffffff;
}
.cp_tab > input:checked + label {
	margin-bottom: -1px;
}
@media (max-width: 480px) {
	.cp_tab {
		width: 100%;
		font-size: 0.8em;
	}
	.cp_tab label {
		padding: 0.5em;
	}
}

.cp_tab2 *, .cp_tab2 *:before, .cp_tab2 *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_tab2 {
	margin: 1em auto;
}
.cp_tab2 > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.cp_tab2 .cp_tabpanels {
	position: relative;
	min-height: 700px;/* エリアの高さ */
}
.cp_tab2 .cp_tabpanel {
	position: absolute;
	width: 100%;
	opacity: 0;
	padding: 0.5em 1em;
	transform: translateY(-10px);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.cp_tab2 > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab2 > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab2 > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab2 > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab2 > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab2 > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6)
.cp_tab2 > input:nth-child(13):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(7) {
	opacity: 1;
	transform: translateY(0px);
}
.cp_tab2 > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child {
	background: #80CBC4;
}
.cp_tab2 > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2) {
	background: #90CAF9;
}
.cp_tab2 > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3) {
	background: #F48FB1;
}
.cp_tab2 > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4) {
	background: #8BC34A;
}
.cp_tab2 > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5) {
	background: #8BC34A;
}
.cp_tab2 > label {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 6px 6px 0 0;
	font-weight: bold;
}
.cp_tab2 > input:first-child + label {
	background: #80CBC4;
}
.cp_tab2 > input:nth-child(3) + label {
	background: #90CAF9;
}
.cp_tab2 > input:nth-child(5) + label {
	background: #F48FB1;
}
.cp_tab2 > input:nth-child(7) + label {
	background: #8BC34A;
}
.cp_tab2 > input:nth-child(9) + label {
	background: #8BC34A;
}
.cp_tab2 > label:hover {
	color: #0066cc;
}
.cp_tab2 > input:focus + label {
	color: #ffffff;
}
.cp_tab2 > input:checked + label {
	margin-bottom: -1px;
}
@media (max-width: 480px) {
	.cp_tab2 {
		width: 100%;
		font-size: 0.8em;
	}
	.cp_tab2 label {
		padding: 0.5em;
	}
}

.msr_box01 {
	display: inline-block;
  background-color: #1B73BA;
  width: 300px;
}
.msr_box01 a{
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  color:#000000;
  display:block;
  padding: 8px;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.msr_box01 img{
  margin:0 0 5px;
}
.msr_box01 .ttl {
  font-size: 16px;
  line-height: 1.6;
}
.msr_box01 p {
  font-size: 13px;
  line-height: 1.6;
}
.msr_box01 a:hover{
  opacity: 0.8;
}

.msr_box02 {
	display: inline-block;
  background-color: #1B73BA;
  width: 450px;
}
.msr_box02 a{
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  color:#000000;
  display:block;
  padding: 8px;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.msr_box02 img{
  margin:0 0 5px;

}
.msr_box02 .ttl {
  font-size: 16px;
  line-height: 1.6;
}
.msr_box02 p {
  font-size: 13px;
  line-height: 1.6;
}
.msr_box02 a:hover{
  opacity: 0.8;
}

.sample-box {
    position: relative;
}

.ranking {
    display: flex;
    cursor: pointer;

    position: absolute;
    top: 0%;
    left: 0%;
}
