* {
    margin: 0px;
    padding: 0px;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 920px;
    margin: 0px auto;
}

p.px {
      font-family: "ヒラギノ角ゴシック体 W3";
      font-size: 14px;
      }
