<html>

<!-- あとで消す -->
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<!-- あとで画像パス変更する（userの前に"/"つける） -->
<body>
  {% extends 'default_frame.twig' %}
  {% block main %}
  <link rel="stylesheet" href="user_data/css/putname2.css">
  <div class="container">
    <div class="key-visual">
      <img src="user_data/img/putname2/putname_sp_kv.jpg" class="sp">
      <img src="user_data/img/putname2/putname_pc_kv.jpg" class="pc">
    </div>
    <div class="copy">
      <img src="user_data/img/putname2/putname_sp_copy.png" class="sp">
      <img src="user_data/img/putname2/putname_pc_copy.png" class="pc">
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/putname2/putname_sp_img01.png" class="sp">
          <img src="user_data/img/putname2/putname_pc_img01.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/putname2/putname_sp_title01.png" class="sp">
            <img src="user_data/img/putname2/putname_pc_title01.png" class="pc">
          </div>
          <p>
            名入れの定番商品である「カステーラ」。商品に直接入った名前と赤ちゃんイラストが可愛い長崎堂のカステーラは「はじめまして」のご挨拶にぴったり。ふんわり爽やかに焼き上げたかすていらと梅こんぶ茶の詰め合わせの瀬戸檸檬ピールは大人も子供も楽しめます♪
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=118"><img src="user_data/img/putname2/button01.png"></a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/833" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0527101409_5ceb39e19123f.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                長﨑堂 名入れ カステーラ詰合せ★<br><br>
                <span>5,400円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/833">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/582" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0402080955_5ca29a4396198.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                長﨑堂 名入れ カステーラ（大）★<br><br>
                <span>2,160円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/582">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/589" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0414094747_5cb28333b3aba.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                名入れ 瀬戸内檸檬ピール入り かすていら（大）★<br>
                <span>1,620円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/589">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=118"><img src="user_data/img/putname2/button01.png"></a>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/putname2/putname_sp_img02.png" class="sp">
          <img src="user_data/img/putname2/putname_pc_img02.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/putname2/putname_sp_title02.png" class="sp">
            <img src="user_data/img/putname2/putname_pc_title02.png" class="pc">
          </div>
          <p>
            細くて長いそうめんには、「普段なかなかお会いできませんが、細くても長いお付き合いをお願いいたします」といった意味があり、「これからも末永くお付き合いください」といった意味を込めて贈ることで、なかなか会えなくてもお世話になっていることは忘れていませんといったことも併せて伝えることができます。
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=119"><img src="user_data/img/putname2/button01.png"></a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/634" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0401191249_5ca1e421e3b90.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                揖保乃糸 名入れ 上級品 ブルー（男の子）★<br>
                <span>1,620円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/634">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/630" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0401190322_5ca1e1ea90595.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                名入れ 慶びのめんめん ★<br><br>
                <span>3,240円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/630">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/639" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0401192506_5ca1e702c8933.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                名入れ 慶びの詰合せ ★<br><br>
                <span>4,320円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/639">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=119"><img src="user_data/img/putname2/button01.png"></a>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/putname2/putname_sp_img03.png" class="sp">
          <img src="user_data/img/putname2/putname_pc_img03.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/putname2/putname_sp_title03.png" class="sp">
            <img src="user_data/img/putname2/putname_pc_title03.png" class="pc">
          </div>
          <p>
            アンリ・シャンパルティエやシーキューブといった有名ブランド商品をご用意。かわいらしい一口サイズの焼き菓子や、複数種類の味わいが楽しめるセット商品など、友人から大勢の方向けとしても選ばれています。化粧箱や専用名入れ用紙に、お子様の名前をお入れします。
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=117"><img src="user_data/img/putname2/button01.png"></a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/821" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/1030130455_5db90be761545.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                シーキューブ 名入れ ハッピースウィートアソート★<br>
                <span>1,944円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/821">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/827" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0527160551_5ceb8c4fca804.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                アンリ・シャルパンティエ 名入れ プティ・ガトー・アソルティ★<br>
                <span>2,484円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/827">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/602" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0401131800_5ca190f8cb329.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                シャーリーテンプル 名入れ お菓子アソート 女の子（ピンク）★<br>
                <span>2,700円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/602">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=117"><img src="user_data/img/putname2/button01.png"></a>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/putname2/putname_sp_img04.png" class="sp">
          <img src="user_data/img/putname2/putname_pc_img04.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/putname2/putname_sp_title04.png" class="sp">
            <img src="user_data/img/putname2/putname_pc_title04.png" class="pc">
          </div>
          <p>
            お子様の生まれた時と同じ重さのお米を用意する「新米家族」や、お子様のお名前一つ一つにオリジナルのポエムを作詞する「ネームインポエム」、写真や手形・足型をフレームにできる「フォトフレーム」商品など、ご両親やご親戚などにお子様の誕生をメモリアルとしてお伝えできる人気商品です。
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=120"><img src="user_data/img/putname2/button01.png"></a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/902" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0527145743_5ceb7c57c04c2.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                名入れ 俵型体重米 新米家族 女の子（ピンク）★<br>
                <span>9,720円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/902">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/502" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0325131008_5c9854a0304ee.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                ネーム イン ポエム 1人用幸せの記録（お仕立券）<br>
                <span>9,900円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/502">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/640" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0401192731_5ca1e793c4a5a.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                名入れ 銘柄米詰め合わせ4種 ★<br><br>
                <span>3,024円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/640">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=120"><img src="user_data/img/putname2/button01.png"></a>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/putname2/putname_sp_img05.png" class="sp">
          <img src="user_data/img/putname2/putname_pc_img05.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/putname2/putname_sp_title05.png" class="sp">
            <img src="user_data/img/putname2/putname_pc_title05.png" class="pc">
          </div>
          <p>
            お子様の名前入りのギフトで、「ありがとう」「はじめまして」のご挨拶。セットの選べるカタログギフトは先様のお好みを想う、やさしさと感謝を込めた、ワンランク上の贈り物です。お菓子・スイーツ・タオルなどたくさんの組み合わせの中からお選びいただけます。
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=116&pageno=2"><img src="user_data/img/putname2/button01.png"></a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/815" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0523172756_5ce6598cdd34c.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                名入れ 木箱入り今治タオル&カタログギフト「宇治」セット<br><br>
                <span>5,500円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/815">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/793" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/1030125301_5db9091dad2e3.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                  銀座千疋屋 名入れ 銀座ゼリー（９個）&カタログギフト「ルビー」セット<br>
                <span>8,910円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/793">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/802" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/1030125654_5db90a06c972b.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                アンリ・シャルパンティエ 名入れ<br>
                プティ・ガトー・アソルティ&カタログギフト「ダイヤモンド」セット<br>
                <span>14,410円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/802">
                  <img src="user_data/img/putname2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=116&pageno=2"><img src="user_data/img/putname2/button01.png"></a>
      </div>
    </div>
    <div class="btn-sp btn-all">
      <a href="https://shop.mamab.jp/products/list?category_id=53"><img src="user_data/img/putname2/putname_sp_button03.png"></a>
    </div>
    <div class="btn-pc btn-all">
      <a href="https://shop.mamab.jp/products/list?category_id=53"><img src="user_data/img/putname2/putname_pc_button03.png"></a>
    </div>
  </div>
  {% endblock %}
</body>

</html>