<html>

<!-- あとで消す -->
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<!-- あとで画像パス変更する（userの前に"/"つける） -->
<body>
  {% extends 'default_frame.twig' %}
  {% block main %}
  <link rel="stylesheet" href="user_data/css/towelcollection2.css">
  <div class="container">
    <div class="key-visual">
      <img src="user_data/img/towelcollection2/towelcollection_sp_kv.jpg" class="sp">
      <img src="user_data/img/towelcollection2/towelcollection_pc_kv.jpg" class="pc">
    </div>
    <div class="copy">
      <div class="copy1">
        <img src="user_data/img/towelcollection2/towelcollection_sp_copy01.png" class="sp">
        <img src="user_data/img/towelcollection2/towelcollection_pc_copy01.png" class="pc">
      </div>
      <div class="copy2">
        <img src="user_data/img/towelcollection2/towelcollection_sp_ribon.png" class="sp">
        <img src="user_data/img/towelcollection2/towelcollection_pc_ribon.png" class="pc">
      </div>
      <div class="copy3">
        <img src="user_data/img/towelcollection2/towelcollection_sp_copy02.png" class="sp">
        <img src="user_data/img/towelcollection2/towelcollection_pc_copy02.png" class="pc">
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/towelcollection2/towelcollection_sp_img01.png" class="sp">
          <img src="user_data/img/towelcollection2/towelcollection_pc_img01.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/towelcollection2/towelcollection_sp_title01.png" class="sp">
            <img src="user_data/img/towelcollection2/towelcollection_pc_title01.png" class="pc">
          </div>
          <p>
            今治品質の素材と贅沢な織りで、肌さわりがよい、美しい光沢と色彩のタオルに
            仕上がりました。吸水性がよく、繰り返し洗濯しても柔らかさが持続します。
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=&name=%E4%BB%8A%E6%B2%BB%E8%AC%B9%E8%A3%BD+%E6%A5%B5%E4%B8%8A%E3%82%BF%E3%82%AA%E3%83%AB">
              <img src="user_data/img/towelcollection2/button01.png">
            </a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/5" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0318102804_5c8ef4244f52b.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                今治謹製 極上タオル 木箱入り フェイスタオル1枚 グリーン<br><br>
                <span>2,200円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/5">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/7" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0318184058_5c8f67aa227ec.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                今治謹製 極上タオル 木箱入り バスタオル1枚 パープル<br><br>
                <span>5,500円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/7">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/9" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0318185730_5c8f6b8ac49ce.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                今治謹製 極上タオル 木箱入り バス・フェイスタオルセット<br><br>
                <span>7,700円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/9">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=&name=%E4%BB%8A%E6%B2%BB%E8%AC%B9%E8%A3%BD+%E6%A5%B5%E4%B8%8A%E3%82%BF%E3%82%AA%E3%83%AB">
          <img src="user_data/img/towelcollection2/button01.png">
        </a>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/towelcollection2/towelcollection_sp_img02.png" class="sp">
          <img src="user_data/img/towelcollection2/towelcollection_pc_img02.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/towelcollection2/towelcollection_sp_title02.png" class="sp">
            <img src="user_data/img/towelcollection2/towelcollection_pc_title02.png" class="pc">
          </div>
          <p>
            梅の花は百花に先駆けて咲き、春の訪れを告げることから幸せを呼ぶ縁起物とし
            て親しまれています。今治産のやわらかなタオルを、梅から抽出した染料でほん
            のり梅色に染め上げました。高級感のある美しい木箱入りです。
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=&name=%E4%BB%8A%E6%B2%BB%E8%AC%B9%E8%A3%BD+%E8%87%B3%E7%A6%8F%E3%82%BF%E3%82%AA">
              <img src="user_data/img/towelcollection2/button01.png">
            </a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/20" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0318194848_5c8f7790a9233.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                今治謹製 至福タオル 梅染め タオルセット<br>
                <span>3,300円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/20">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/23" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0318195243_5c8f787b3eb04.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                  今治謹製 至福タオル 梅染め タオルセット<br>
                <span>4,400円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/23">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/25" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0318195603_5c8f7943d25ca.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                  今治謹製 至福タオル 梅染め バスタオルセット<br>
                <span>7,700円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/25">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=&name=%E4%BB%8A%E6%B2%BB%E8%AC%B9%E8%A3%BD+%E8%87%B3%E7%A6%8F%E3%82%BF%E3%82%AA">
          <img src="user_data/img/towelcollection2/button01.png">
        </a>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/towelcollection2/towelcollection_sp_img03.png" class="sp">
          <img src="user_data/img/towelcollection2/towelcollection_pc_img03.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/towelcollection2/towelcollection_sp_title03.png" class="sp">
            <img src="user_data/img/towelcollection2/towelcollection_pc_title03.png" class="pc">
          </div>
          <p>
            オーガニックコットンとは、3年間農薬や化学肥料を使用していない農地で、農
            薬や化学肥料を使わないで栽培された綿花のことです。このタオルはパイル部分
            にオーガニックコットンを100%使用しています。
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=&name=%E3%82%A2%E3%83%BC%E3%83%90%E3%83%B3%E3%83%AA%E3%82%B5%E3%83%BC%E3%83%81">
              <img src="user_data/img/towelcollection2/button01.png">
            </a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/893" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0527150516_5ceb7e1cccb06.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                アーバンリサーチ タオルセット レッド<br>
                <span>1,650円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/893">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/867" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0527150551_5ceb7e3fa606e.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                アーバンリサーチ タオルセット ブルー<br>
                <span>2,750円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/867">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/870" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0527150649_5ceb7e795d97b.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                アーバンリサーチ タオルセット<br><br>
                <span>5,500円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/870">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=&name=%E3%82%A2%E3%83%BC%E3%83%90%E3%83%B3%E3%83%AA%E3%82%B5%E3%83%BC%E3%83%81">
          <img src="user_data/img/towelcollection2/button01.png">
        </a>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/towelcollection2/towelcollection_sp_img04.png" class="sp">
          <img src="user_data/img/towelcollection2/towelcollection_pc_img04.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/towelcollection2/towelcollection_sp_title04.png" class="sp">
            <img src="user_data/img/towelcollection2/towelcollection_pc_title04.png" class="pc">
          </div>
          <p>
            「キュート・プリティ・セクシー」をキーワードに、流行に敏感な女性に向け、
            フェミニンでスウィートなテイストをベースに女性のライフスタイルに添ったア
            イテムを提案します。
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=&name=%E3%82%B8%E3%83%AB%E3%82%B9%E3%83%81%E3%83%A5%E3%82%A2%E3%83%BC%E3%83%88">
              <img src="user_data/img/towelcollection2/button01.png">
            </a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/122" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0319181710_5c90b3968cac8.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                ジル スチュアート スウィートブロッサム フェイス・ウォッシュ タオルセッ
                ト<br>
                <span>1,650円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/122">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/124" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0319181945_5c90b43143c27.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                ジル スチュアート スウィートブロッサム フェイス・ウォッシュ タオルセッ
                ト<br>
                <span>2,750円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/124">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/127" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0319182305_5c90b4f960ada.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                ジル スチュアート スウィートブロッサム バス・フェイスタオルセット<br><br>
                <span>4,400円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/127">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=&name=%E3%82%B8%E3%83%AB%E3%82%B9%E3%83%81%E3%83%A5%E3%82%A2%E3%83%BC%E3%83%88">
          <img src="user_data/img/towelcollection2/button01.png">
        </a>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/towelcollection2/towelcollection_sp_img05.png" class="sp">
          <img src="user_data/img/towelcollection2/towelcollection_pc_img05.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/towelcollection2/towelcollection_sp_title05.png" class="sp">
            <img src="user_data/img/towelcollection2/towelcollection_pc_title05.png" class="pc">
          </div>
          <p>
            「上品&上質」をテーマに展開する大人気セレクトショップ。その世界観を表現
            したタオルギフトです。
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=&name=%E3%83%A6%E3%83%8A%E3%82%A4%E3%83%86%E3%83%83%E3%83%89%E3%82%A2%E3%83%AD%E3%83%BC%E3%82%BA%E3%80%80%E3%82%B9%E3%83%A2%E3%83%BC%E3%83%AB%E3%83%89%E3%83%83%E3%83%88">
              <img src="user_data/img/towelcollection2/button01.png">
            </a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/94" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0318215458_5c8f95221fcbf.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                ユナイテッドアローズ スモールドット タオルセット ミックス<br><br>
                <span>1,650円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/94">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/184" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0318220553_5c8f97b19cc8e.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                ユナイテッドアローズ スモールドット バスタオル グレート<br><br>
                <span>3,300円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/184">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/186" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0404144406_5ca599a63ab41.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                ユナイテッドアローズ スモールドット タオルセット グレー<br><br>
                <span>4,400円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/186">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=&name=%E3%83%A6%E3%83%8A%E3%82%A4%E3%83%86%E3%83%83%E3%83%89%E3%82%A2%E3%83%AD%E3%83%BC%E3%82%BA%E3%80%80%E3%82%B9%E3%83%A2%E3%83%BC%E3%83%AB%E3%83%89%E3%83%83%E3%83%88">
          <img src="user_data/img/towelcollection2/button01.png">
        </a>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        <div class="category-title-pic">
          <img src="user_data/img/towelcollection2/towelcollection_sp_img06.png" class="sp">
          <img src="user_data/img/towelcollection2/towelcollection_pc_img06.png" class="pc">
        </div>
        <div class="category-title-copy">
          <div class="category-title-copy-pic">
            <img src="user_data/img/towelcollection2/towelcollection_sp_title06.png" class="sp">
            <img src="user_data/img/towelcollection2/towelcollection_pc_title06.png" class="pc">
          </div>
          <p>
            世界的なファッションブランド、ラルフ ローレンが1983年に発表したホームコレクション。伝統的なモチーフを現代的にアレンジしたタオルは年齢性別問わず、どなたにも喜ばれる商品です。
          </p>
          <div class="btn-pc">
            <a href="https://shop.mamab.jp/products/list?category_id=&name=%E3%83%A9%E3%83%AB%E3%83%95+%E3%83%AD%E3%83%BC%E3%83%AC%E3%83%B3">
              <img src="user_data/img/towelcollection2/button01.png">
            </a>
          </div>
        </div>
      </div>
      <div class="category-menu">
        <div class="category-menu1">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/974" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0917144448_5d8072d0e439b.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                ラルフ ローレン ウォッシュタオル2枚セット ネイビー<br><br>
                <span>2,200円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/974">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu2">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/979" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0917144740_5d80737cef31d.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                ラルフ ローレン フェイス・ウォッシュタオルセット クリーム<br><br>
                <span>4,400円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/979">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="category-menu3">
          <div class="category-menu-item">
            <div class="category-menu-item-pic">
              <a href="https://shop.mamab.jp/products/detail/967" target="_self">
                <img src="https://shop.mamab.jp/upload/save_image/0905103935_5d706757339e4.jpg">
              </a>
            </div>
            <div class="category-menu-item-col">
              <p>
                ラルフ ローレン フェイス・ウォッシュタオルセット レッド<br><br>
                <span>5,500円</span><span class="tax">税込</span>
              </p>
              <div class="category-menu-item-col-btn">
                <a href="https://shop.mamab.jp/products/detail/967">
                  <img src="user_data/img/towelcollection2/button02.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sp">
        <a href="https://shop.mamab.jp/products/list?category_id=&name=%E3%83%A9%E3%83%AB%E3%83%95+%E3%83%AD%E3%83%BC%E3%83%AC%E3%83%B3">
          <img src="user_data/img/towelcollection2/button01.png">
        </a>
      </div>
    </div>
    <div class="btn-sp btn-all">
      <a href="https://shop.mamab.jp/products/list?category_id=41"><img src="user_data/img/towelcollection2/towelcollection_sp_button03.png"></a>
    </div>
    <div class="btn-pc btn-all">
      <a href="https://shop.mamab.jp/products/list?category_id=41"><img src="user_data/img/towelcollection2/towelcollection_pc_button03.png"></a>
    </div>
  </div>
  {% endblock %}
</body>

</html>